# created by virtualenv automatically
gameNetProj/bin
gameNetProj/poetry.lock
gameNetProj/pyproject.toml
gameNetProj/venv/
.venv/
gameNetProj/config/__pycache__
gameNetProj/profiles/__pycache__
gameNetProj/__pycache__
venv/
ssh_key.pub
