@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat','Arial';
}

html, body{
    height: 100%;
}

header, .bell, .search, .logo, .User_menu{
    height: 60px;
}

header{
    display: flex;
    flex-direction: row;
    background-color: #AFADFF;
    /* text-align: center;
    justify-content: center;
    align-items: center; */
}

.logo{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 18.7%;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
}

.logo_img img{
    width: 67px;
    height: 50px;
}

.logo_text{
    font-weight: bolder;
    font-size: 24px;
    color: white;
}

.logo_text span{
    color: blue;
}

.bell{
    display: flex;
    position: absolute;
    text-align: center;
    justify-content: center;
    align-items: center;
    left: 42.7%;
}

.bell img{
    width: 33px;
    height: 33px;
}

.User_menu{
    display: flex;
    position: absolute;
    text-align: center;
    justify-content: center;
    align-items: center;
    left: 76.7%;
}

.User_avatar img{
    width: 53px;
    height: 53px;
    border-radius: 50%;
}

.User_avatar_arrow img{
    width: 14px;
    height: 14px;
    margin-left: 10px;
}

.search{
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    left: 30%;
    
}

.search_field{
    background-color: #E2E3FF;
    color: #000000;
    border-radius: 15px;
    padding: 10px;
    border: 0px;
    width: 12vw;
    min-width: 200px;
}

.search_field::placeholder{
    color: #9591C3;
}

.search_field:active, .search_field:hover, .search_field:focus{
    outline: 0;
    outline-offset: 0;
}

.main_news_block{
    display:flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-top: 58px;
    height: 100%;
}

.nav_block, .games_block{
    height: 70%;
    width: 192px;
    background-color: rgba(248, 248, 248, 1);

}

.nav_block{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-right: 3px solid #E3E3E3;
    margin-right: 32px;
}

.nav_block > *{
    margin-top: 10px;
    margin-left: 20%;
}

.games_block{
    border-left: 3px solid #E3E3E3;
    margin-left: 32px;
}

.groups_block{
    background-color: #FCFCFC;
    border: 3px solid #E3E3E3;
    border-radius: 15px;
    width: 730px;
}

.messedger_link, .groups_link, .news_link{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.messedger_link img, .groups_link img, .news_link img{
    width: 24px;
    height: 24px;
}

.messedger_link div, .groups_link div, .news_link div{
    margin-left: 8px;
    font-size: 14px;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 30px;

}

.nav_buttons{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left:38px;
}

.nav_button{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #FCFCFC;
    border-radius: 15px;
    border: 0px;
    height: 25px;
}

.active{
    background-color: #E2E3FF;
}

.create_button_block{
    margin-right:38px;
}

.create_button{
    width: 237px;
    padding: 10px;
    font-size: 16px;
    background-color: #8388FF;
    color: white;
    border-radius: 15px;
    border: 0px;
}

.groups_search .search_field{
    margin-top: 30px;
    width: 90%;
}

.groups_list{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}

.groups_list hr{
    width: 80%;
    align-self: center;
    color: #B3B3B3;
}

.group{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-top: 30px;
    margin-bottom: 10px;
}

.group:first-child{
    margin-top: 0px;
}


.group_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-left: 20px;
}

.group_name{
    margin-bottom: 5px;
}

.group_avatar img{
    width: 73px;
    height: 73px;
    border-radius: 50%;
}

.group_subscribers{
    color: #909090;
    font-size: 10px;
}

.g_avatar .group_avatar{
    display: none;
}

.creationform_fields{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 43px;
}

.overshaddow {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
}

#group_creation form{
    position: absolute;
    display: flex;
    width: 800px;
    height: 440px;
    left: 31%;
    top: 31%;
    flex-direction: column;
    background-color: #F3F2FF;
    border: 4px solid #A7A6CE;
    border-radius: 15px;
    z-index: 200;
}

.g_text{
    display: flex;
    flex-direction: column;
    width: 57.5%;
}

.exit{
    font-size: 24px;
    width:10%;
    text-align: center;
    color: #8388FF;
    z-index:201;
}

/* inputs */
.g_name, .g_description{
    width: 100%;
}

.g_name .group_name, .g_description .group_description {
    width: 100%;
    background-color: #E2E3FF;

    font-size: 14px;

    padding-left: 10px;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-bottom: 40px;

    border: none;
    border-radius: 7px;

    /* ::-webkit-input-placeholder{
        color: #9591C3;
    } */
}

.group_description{
    height: 108px;
}

.submit_button{
    width: 70%;
    font-size:24px;
    background-color: #05E200;
    color: white;
    border: none;
    border-radius: 7px;
    padding-left: 0px;
    padding-top: 2%;
    padding-bottom: 2%;
}

.groupcreation_name{
    width:90%;
    font-size: 24px;
    text-align: center;
    color: #9A89FF;
}

.form_header{
    width:100%;
    display: flex;
    flex-direction: row;
    margin-top: 28px;
}

.input_field-img-icon-wrapper{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 203px;
    height: 203px;
    margin-left: 23px;
    margin-right: 26px;
}

.dotted-border{
    border: 2px dotted #9A89FF;
    border-radius: 50%;
}

.input_field-img-icon{
    width: 46px;
    height: 46px;
}

.loaded_img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}