{% comment %} {%load static%} {% endcomment %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Авторизация</title>
    {% comment %} <link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}"> {% endcomment %}
</head>
<body>
<div class="header"></div>
<div class="content">
    <div class="contentHeader">Регистрация</div>
    <form method="post">
    {% csrf_token %}
    <div class="loginForm">
        {% for field in form %}
        <p>
            {% if field.errors %}
            <ul class="errorlist">
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
             {{ field.label_tag }} {{ field }}
        </p>
        {% endfor %}
        <input class="submit_button" name='signtype' type="submit" value='Создать аккаунт'>
   </div>
    </form>
</div>
<div class="footer"> </div>
</body>
</html>