{%load static%}

<!doctype html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Авторизация</title>
    <link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
</head>
<body>
    <div class='logo'>
        <div class="logo_img">
            <img src="../../../media/blue_logo.png">
        </div>
        <div class="logo_text">
            GAME<span>NET</span>
        </div>
    </div>
    <div class="poly"></div>

    <div id="app" class="content">
        <div class="form_container">
        <div class="text_auth" v-on:click="showAuthForm">ВХОД</div>
        <div class="text_register active" v-on:click="showRegisterForm">РЕГИСТРАЦИЯ</div>
        </div>

        <form method="post">
        {% csrf_token %}
        <div class="registerForm">
            <div class="registerFormHeader"></div>
        {% for field in register_form %}
        <p>{{field}}</p>
        {% endfor %}
            <input class="submit_button" name='signtype' type="submit" value='Создать Аккаунт!'>
    </div>
        </form>

        <form method="post">
            {% csrf_token %}
            <div class="authForm">
            <p>{{ auth_form.login }}</p>
            <p>{{ auth_form.password }}</p>
            <input class="submit_button" name='signtype' type="submit" value='Войти'> 
        </div>
        </form>
    </div>

    <div class="footer"> </div>

    <script src="{% static 'scripts/login_register_page_script.js' %}"></script>
</body>
</html>
