{%load static%}

<!doctype html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Авторизация</title>
    <link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
</head>
<body>
<div class="header"></div>
<div class="poly"></div>
<div id="app" class="content">

    <div class="form_container">
	<div class="text_auth">ВХОД</div>
	<div class="text_register active">РЕГИСТРАЦИЯ</div>
    </div>
    <form method="post">
    {% csrf_token %}
    <div class="registerForm">
        <div class="registerFormHeader"></div>
       {% for field in register_form %}
        <p>{{field}}</p>
       {% endfor %}
        <input class="submit_button" name='signtype' type="submit" value='Создать Аккаунт!'>
   </div>
    </form>

    {% comment %} <form method="post">
        {% csrf_token %}
        <div class="authForm">
            {{ auth_form.as_p }}
            <input class="submit_button" name='signtype' type="submit" value='Войти'> 
       </div>
    </form> {% endcomment %}
</div>

<div class="footer"> </div>

<script src="{% static 'scripts/login_register_page_script.js' %}"></script>
</body>
</html>
