{% for post in user_posts%}
<div id="post-{{post.id}}" class="post">
    <div class="post-header">
        <div class="post-user-avatar">
            <img src="data:image/png;base64, {{user_avatar}}">
        </div>
        <div class="post-info-text">
            {% if user.name != "" %}
            <div class="postcreation-creator">{{posts_owner.name}} {{posts_owner.surname}}</div>
            {% else %}
            <div class="postcreation-creator">{{posts_owner.login}}</div>
            {% endif %}
            <div class="postcreation-date">{{post.date}}</div>
        </div>
    </div>
    <div class="post-content">{{post.text}}</div>
    <hr>
    <script>ShowComments({{post.id}})</script>
    <div id="comments-block-{{post.id}}" class="user-posts-comments-block"></div>

    <div class="create-comment">
        <form method="post" class="create-comment-form" id="create-comment-form-{{post.id}}">
            {% csrf_token %}
            <textarea id="textfield_id-{{post.id}}" name="textfield" class="comment-input" placeholder="Напишите комментарий..."></textarea>
            <div class="send-comment-arrow"><img class="send-comment-arrow-img" src="../../media/send.png" onclick="CreateComment('{{request.user.login}}', '{{request.user.password}}', {{post.id}})"></div>
        </form>
    </div>
</div>
{%endfor%}