@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat','Arial';
}

html, body{
    height: 100%;
}

header, .bell, .search, .logo, .User_menu{
    height: 60px;
}

header{
    display: flex;
    flex-direction: row;
    background-color: #AFADFF;
    /* text-align: center;
    justify-content: center;
    align-items: center; */
}

.logo{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 18.7%;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
}

.logo_img img{
    width: 67px;
    height: 50px;
}

.logo_text{
    font-weight: bolder;
    font-size: 24px;
    color: white;
}

.logo_text span{
    color: blue;
}

.bell{
    display: flex;
    position: absolute;
    text-align: center;
    justify-content: center;
    align-items: center;
    left: 42.7%;
}

.bell img{
    width: 33px;
    height: 33px;
}

.User_menu{
    display: flex;
    position: absolute;
    text-align: center;
    justify-content: center;
    align-items: center;
    left: 76.7%;
}

.User_avatar img{
    width: 53px;
    height: 53px;
    border-radius: 50%;
}

.User_avatar_arrow img{
    width: 14px;
    height: 14px;
    margin-left: 10px;
}

.search{
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    left: 30%;
    
}

.search_field{
    background-color: #E2E3FF;
    color: #000000;
    border-radius: 15px;
    padding: 10px;
    border: 0px;
    width: 12vw;
    min-width: 200px;
}

.search_field::placeholder{
    color: #9591C3;
}

.search_field:active, .search_field:hover, .search_field:focus{
    outline: 0;
    outline-offset: 0;
}

.main_profiles_block{
    display:flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-top: 58px;
    height: 100%;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
}

.nav_block{
    height: 70%;
    width: 192px;
    background-color: rgba(248, 248, 248, 1);

}

.nav_block{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-right: 3px solid #E3E3E3;
    margin-right: 32px;
}

.nav_block > *{
    margin-top: 10px;
    margin-left: 20%;
}

.news_block{
    background-color: #FCFCFC;
    border: 3px solid #E3E3E3;
    border-radius: 15px;
    width: 730px;
}

.messedger_link, .groups_link, .news_link{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.messedger_link img, .groups_link img, .news_link img{
    width: 24px;
    height: 24px;
}

.messedger_link div, .groups_link div, .news_link div{
    margin-left: 8px;
    font-size: 14px;
}

a{
    color:#000000;
    text-decoration: none;
}

.main_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:856px;
}

.profile{
    display: flex;
    text-align: none;
    justify-content: none;
    align-items: none;
    height: 226px;
    width: 856px;
    background-color: #E3E3E3;
    border-radius: 30px;
}

.profile .avatar{
    position: absolute;
    margin-top:140px;
    margin-left: 43px;
    box-sizing: content-box;
    height: 139px;
    width: 139px;
    border: 15px solid white;
    border-radius: 50%;
}

.profile .cover{
    height: 226px;
    width: 856px;
    border-radius: 30px;
}

.galary{
    width: 730px;
    height: 303px;
    border-radius: 15px;
    border: 2px solid #E3E3E3;
    margin-top: 133px;
}

.games_block{
    display: flex;
    flex-direction: column;
    margin-left: 32px;
}

.games-platforms{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: 2px solid #E3E3E3;
    width: 250px;
    height: 226px;
}

.games{
    display: flex;
    flex-direction: column;
    margin-top: 134px;
    border-radius: 15px;
    border: 2px solid #E3E3E3;
    width: 250px;
    height: 226px;
}

.profile-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    background-color: white;
    border: 2px solid #E3E3E3;
    border-radius: 7px;
    height: 100px;
    width: 130px;
    left: 77%;
    top:7%;
}