.content{
    display: flex;
    flex-direction: column;
    border: thin solid #E3E3E3;
    border-radius: 15px;
    width: 730px;
}

.fields{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

.text-fields{
    display: flex;
    flex-direction: column;
    width: 326px;
}

.field{
    padding: 14px;
    border-radius: 15px;
    margin-bottom: 23px;
    border: 1.5px solid #A3A3A3;
}

.field:active, .field:hover, .field:focus{
    outline: 0;
    outline-offset: 0;
}

textarea{
    resize: none;
}

#id_avatar{
    display: none;
}

#id_cover{
    display: none;
}

.input_field-img-icon-wrapper, .input_field-img-icon, .loaded_img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.input_field-cover{
    display: flex;
    justify-content: center;
    align-items: center;
    width:80%;
    height: 226px;
    margin: 0 auto 0 auto;
    font-size: 24px;
    border-radius: 15px;
    border: 1.5px solid #A3A3A3;
}

.input_field-cover{
    margin-top:20px;
    color:#B0B0B0;
}

.save-button{
    width: 240px;
    background-color: #AFADFF;
    color: white;
    border: 0px;
    border-radius: 15px;
    padding: 12px;
    margin: 45px auto 0px auto;
}

.settings{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1.5px solid #A3A3A3;
    border-radius: 15px;
    height: 211px;
    width: 260px;
    margin-left: 32px;
}

.settings-item{
    display: flex;
    flex-direction: row;
    margin-left: 31px;
}

.settings-item img{
    height: 24px;
    width: 24px;
}