@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat','Arial';
}

body {
    background-color: #F3F3F3;
    width: 100vw;
    height: 100vh;
}
form {
    width: 100vw;
    height: 100vh;
}
.poly {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color:#AFADFF;
    clip-path: polygon(
        0% 0%,
        100% 0%,
        0% 100%
    );
    z-index: -1000;
}

.registerForm{
    display: flex;
    flex-direction: column;
    vertical-align: middle;

    position: absolute;
    top: 17.2%;
    left: 35%;

    width: 30%;
    height: 65.55%;

    margin: auto;
    background-color: #F3F2FF;
    border: 4px solid #A7A6CE;
    border-radius: 15px;
    z-index: 20;
}

.authForm{
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    justify-content: center;
    width: 30%;
    height: 65.55%;

    margin: auto;
    background-color: #F3F2FF;
    border: 4px solid #A7A6CE;
    border-radius: 15;
    z-index: 10;
}

/* inputs */
.register_input {
    width: 73.73%;
    background-color: #E2E3FF;
    color: #9591C3;
    font-size: 12px;

    padding-left: 10px;
    padding-top: 3.39%;
    padding-bottom: 3.39%;
    margin-bottom: 51px;

    border: none;
    border-radius: 7px;
}