{% load static %}


<form method="post" enctype="multipart/form-data" id="group_creationform">
    {% csrf_token %}
    <div class="form_header">
        <div class="groupcreation_name">Создание группы</div>
        <div class="exit" onclick="hideCreateWindow()">X</div>
    </div>


    <div class="creationform_fields">
        <div class="g_avatar">{{ form.avatar }}</div>
        <label for="id_avatar">
            <div class="input_field-img-icon-wrapper dotted-border">
                <img class="input_field-img-icon" src="../../../media/plus.png" alt="Выбрать файл">
                <script src="{%static 'groups/scripts/img_script.js'%}"></script>
            </div>
        </label>

        <div class="g_text">
            <div class="g_name">{{ form.name }}</div>
            <div class="g_description">{{ form.description }}</div>
            <input class="submit_button" name='signtype' type="button" value='Создать группу!' onclick="CreateGroup('{{request.user.login}}', '{{request.user.password}}')"> 
        </div>
    </div>
</form>

<div class="overshaddow"></div>

